{% extends 'base.html' %}

{% block title_name %} Тэги {% endblock title_name %}

{% block content %}

    <h1 style="margin-top: 50px">Тэги</h1>

    {% for tag in list_tags %}
        <div class="category" style="background-color: #f9f9f9; padding: 20px; margin-bottom: 10px; border-radius: 5px;">
            <h2 style="font-size: 24px; color: #333;">{{ tag.name }}</h2>

            <a href="{% url 'tag_detail' tag.id%}" class="btn btn-primary">Подробнее</a>
            <a href="{% url 'products_by_tag' tag.id%}" class="btn btn-outline-primary">Посмотреть товары</a>
        </div>
    {% endfor %}

    {% if request.user.is_authenticated and request.user.is_superuser or request.user.is_staff %}
        <a class="btn btn-success" href="{% url 'add_tag' %}" role="button" style="margin-top: 20px">Добавить тэг<br></a>
    {% endif %}

{% endblock %}
