{% extends 'base.html' %}

{% block title_name %} Главная {% endblock %}

{% block content %}

    <h1 style="margin-top: 47px">Добро пожаловать на главную страницу!</h1>
    <p>Как искусственный интеллект, я не могу иметь личного мнения или эмоций по отношению к Django или другим технологиям. Однако, могу сказать, что Django является популярным фреймворком для разработки веб-приложений на языке программирования Python.
        Django предоставляет мощные инструменты и функции, которые облегчают процесс создания веб-приложений, таких как ORM (объектно-реляционное отображение), система маршрутизации, автоматическая админ-панель и многое другое.
        Django также славится своей стабильностью, безопасностью и масштабируемостью. Он имеет большое сообщество разработчиков, готовую экосистему и хорошую документацию. Это делает Django привлекательным выбором для создания веб-приложений различного масштаба и сложности.
        Однако, важно помнить, что выбор фреймворка зависит от ваших потребностей, уровня опыта и предпочтений. Вам следует изучить различные фреймворки и выбрать тот, который лучше всего соответствует вашим конкретным требованиям и целям.</p>

{% endblock %}
