<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <footer class="text-center text-white" style="background-color: #212529">
    <div class="container">
      <section class="mt-5">
        <div class="row text-center d-flex justify-content-center pt-5">
          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="{% url 'home' %}" class="text-white">Главная</a>
            </h6>
          </div>

          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="{% url 'catalog' %}" class="text-white">Каталог</a>
            </h6>
          </div>

          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="{% url 'api' %}" class="text-white">API</a>
            </h6>
          </div>

          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="{% url 'profile' %}" class="text-white">Профиль</a>
            </h6>
          </div>

          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="{% url 'cart' %}" class="text-white">Корзина</a>
            </h6>
          </div>
        </div>
      </section>

      <hr class="my-5" />

      <section class="mb-1">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <p>
              Морские звезды имеют способность регенерировать свои потерянные конечности и органы.
                    Если у звезды отрежут одну из ее пяти звездных ног, она сможет вырастить новую вместо потерянной.
                Этот процесс может занять до года, но в конечном итоге звезда будет выглядеть и функционировать как новая.
            </p>
          </div>
        </div>
      </section>
      <section class="text-center mb-5">
        <a href="" class="text-white me-4">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-github"></i>
        </a>
      </section>
    </div>
    <div
         class="text-center p-3"
         style="background-color: rgba(0, 0, 0, 0.2)"
         >
      © 2023 tg:
      <a class="text-white" href="https://t.me/topototty">topototty</a>
    </div>
  </footer>
</body>
</html>